*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height:1.5;
}
.center{
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 30vh;
}
.center img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-bottom: 10px;
    color:  rgb(141, 102, 102);
    text-align: center;
}
h3{
   color: #8c916a;
   text-align: center;
}